<h4>Home de Clientes</h4>

<p>
    Listagem de clientes cadastrados
    <button mat-stroked-button color="primary" (click)="openClientFormToAdd(true)">Adicionar cliente</button>
</p>

<ul *ngFor="let cliente of clientes">
    <li>
        {{cliente.id}} - {{cliente.nome}} - {{cliente.descricao}} - {{cliente.idade}}
        ---
        <button mat-button (click)="remover(cliente.id)">Remover cliente</button>
    </li>
    <li>
        <button mat-stroked-button (click)="openClientFormToUpdate(cliente)">Atualizar dados cliente</button>
    </li>
    <li>
        <a [routerLink]="['/client/details', cliente.id]">Ver detalhes clientes</a>
    </li>
</ul>

<router-outlet></router-outlet>
<div *ngIf="openClientForm" >
    <app-client-form 
    [clientInput]="clientToForm"
    (onClickVoltarParaListagem)="openClientForm = $event"
    (onSalvarDados)="handleClientFormReturn($event)"
    ></app-client-form>
</div>

<br>
<button (click)="sayHello()">Diga Olá pelo service</button>

<br>
<div *ngIf="premiumClient; else naoPremium">
    <p>Você é um cliente premium! Parabéns!</p>
</div>  
@if(premiumClient) {
    <div>
        <p>Cliente premium tem sorteios de prêmios!</p>
    </div> 
}
<ng-template #naoPremium>
    <p>Torne-se um cliente PREMIUM!</p>
</ng-template>

<br>
<a routerLink="">Voltar para Home</a>
<br>