<h4>Cadastrar User</h4>

<div>
    <p class="error" *ngIf="isError('email','required')">
        E-mail é obrigatório
    </p>
    <p class="error" *ngIf="isError('email','email')">
        E-mail é inválido
    </p>
</div>

<form [formGroup]="userForm" (ngSubmit)="salvar()">
    <table cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>ID</mat-label>
                        <input matInput readonly type="number" placeholder="Ex. 1" name="id" formControlName="id">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Nome</mat-label>
                        <input matInput required placeholder="Ex. João" name="name" formControlName="name">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>E-mail</mat-label>
                        <input matInput placeholder="Ex. joaao@gmail.com" name="email" formControlName="email">                       
                    </mat-form-field>                    
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Genêro</mat-label>
                        <mat-select name="gender" formControlName="gender">
                            <mat-option value="masculino">Masculino</mat-option>
                            <mat-option value="feminino">Feminino</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr> 
        </tbody>               
    </table>
    <button mat-raised-button color="primary" type="submit">Salvar</button>
</form>